/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#server-stats-container {
    width: 1132px;
    height: 893px;
}

.game-state, .realm-score, .leaderboards {
    font-family: "Cinzel", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* ************************************************************************** */

.game-state {
    position: relative;
    height: 58px;
    border: 1px solid #404040;
    background-color: #121212;
    box-sizeing: border-box;
    margin: 10px;
    color: white;
    font-size: 18px;
}

.game-state>span {
    position: absolute;
    top: 18px;
}

.game-state>.state {
    left: 40px;
}

.game-state>.time {
    left: 440px;
}

.game-state>.pop {
    left: 800px;
}

/* ************************************************************************** */

/* Realm score board */
.realm-scores {
    height: 300px;
}

.realm-score {
    position: relative;
    float: left;
    width: 373px; height: 257px;
    margin: 10px 2px;
    background-image: url('images/realmscore-frame.png');
}

/* Realm score board background panel */
.score-bg {
    position: absolute;
    width: 315px; height: 165px;
    top: 69px;
    left: 29px;
}
.realm-score.arthurian .score-bg { background-image: url('images/arthurian-bg.png'); }
.realm-score.tdd .score-bg { background-image: url('images/tdd-bg.png'); }
.realm-score.viking .score-bg { background-image: url('images/viking-bg.png'); }

.realm-score .title, .realm-score .label {
    color: white;
}

.realm-score .title, .realm-score .label, .realm-score .points, .realm-score .players {
    position: absolute;
    width: 100%;
    text-align: center;
}

.realm-score .title {
    top: 16px;
    font-size: 20px;
}

.realm-score .label {
    top: 106px;
    font-size: 18px;
}

.realm-score .points {
    top: 125px;
    font-size: 37px;
}

.realm-score .players {
    top: 190px;
    font-size: 14px;
    font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    opacity: 0.7;
}

.realm-score.arthurian { color: #e60000; }
.realm-score.tdd { color: #a8df00; }
.realm-score.viking { color: #00b4ff; }

/* ************************************************************************** */

.leaderboards {
    position: relative;
    margin: 2px;
    width: 1128px;
    height: 521px;
    background-image: url('images/leaderboard.png');
}

.leaderboards>.title {
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
}

.leaderboards>.board {
    position: absolute;
    width: 512px; height: 423px;
    top: 60px;
}
.leaderboards>.kills { left: 40px; }
.leaderboards>.deaths { right: 40px; }

.leaderboards>.board>.heading {
    height: 38px;
    background-color: #212121;
    color: white;
    font-size: 18px;
    border: #434343 1px solid;
}

.leaderboards>.board>.heading>span {
    display: block;
    float: left;
    margin-left: 0.5em;
    height: 38px;
    line-height: 38px;
    border-right: #434343 1px solid;
}

.leaderboards>.board>.heading>:nth-child(1) {
    width: 60px;
}
.leaderboards>.board>.heading>:nth-child(2) {
    width: 290px;
}
.leaderboards>.board>.heading>:nth-child(3) {
    width: 131px;
    border-right: 0;
}


.leaderboards>.board>.table>.row {
    height: 38px;
    color: white;
    font-size: 18px;
    border: #434343 1px solid;
    border-top: 0;
}

.leaderboards>.board>.table>:nth-child(1),
.leaderboards>.board>.table>:nth-child(3),
.leaderboards>.board>.table>:nth-child(4),
.leaderboards>.board>.table>:nth-child(6),
.leaderboards>.board>.table>:nth-child(7),
.leaderboards>.board>.table>:nth-child(9)
{
    background-color: black;
}

.leaderboards>.board>.table>:nth-child(2),
.leaderboards>.board>.table>:nth-child(5),
.leaderboards>.board>.table>:nth-child(8)
{
    background-color: #121212;
}

.leaderboards>.board>.table>.row>span {
    display: block;
    float: left;
    margin-left: 0.5em;
    height: 38px;
    line-height: 38px;
}

.leaderboards>.board>.table>.row>:nth-child(1) {
    width: 65px;
    padding-left: 10px;
}
.leaderboards>.board>.table>.row>:nth-child(2) {
    width: 285px;
}
.leaderboards>.board>.table>.row>:nth-child(3) {
    width: 70px;
    text-align: right;
}

.leaderboards>.board>.table>.row.more {
    text-align: center;
    height: 38px;
    background-color: #212121;
    line-height: 38px;
}
